<h2>Fil d'actu</h2>

<ul class="flex wrap">
    
    {% for produit in allProduits %}
    <li>
        {% if produit.images is not empty %}
        <!--récupérer la 1er image uniquement -->
        {% set image = produit.images.first() %}
            <img src="{{ asset('uploads/images/' ~ image.nomImage) }}" height="400" width="300px" alt="Image de {{ image.nomImage }}">
        

        {% else %}
            <img src="{{ asset('uploads/images/defaut.jpg') }}" height="400px" width="300px" alt="Mon image">
        {% endif %}
        <p>{{ produit.nomProduit }}</p>
        <p>{{ produit.prix }}€</p>
        <div>
            <a href="{{ path('show_produit',{'id':produit.id})}}">Go</a>
        </div>
    </li>
    {% endfor %}
</ul>