{% if form.vars.submitted %}
    {% if produitSearch is not empty %}

<div>
  <h2>Résultat de votre recherche : </h2>
  <ul style="display: flex;">
      {% for produit in produitSearch %}
      
      {# verifier l'état avant de mettre en ligne #}
      {% if produit.etat == false %}
           {# Ne rien retourner #}
      {% else %}
      <li>
          {% if produit.images is not empty %}
              <!--récupérer la 1er image uniquement -->
              {% set image = produit.images.first() %}
              <img src="{{ asset('uploads/images/' ~ image.nomImage) }}" height="200px" width="150px" alt="Image de {{ image.nomImage }}">
              

          {% else %}
          <img src="{{ asset('uploads/images/defaut.jpg') }}" height="200px" width="150px" alt="Mon image">
          {% endif %}
          <p>{{ produit.nomProduit }}</p>
          <p>{{ produit.prix }}€</p>
          <div><a href="{{ path('show_produit',{'id':produit.id})}}">Go</a></div>
      </li>
      {% endif %}

      {% endfor %}
  </ul>
</div>

{% else %}
<h2>Résultat de votre recherche : </h2>
<p>Aucun article trouvé.</p>

    {% endif %}
{% endif %}
