{% extends 'base.html.twig' %} {% block title %}Panneau administrateur :
{{ app.user }}{% endblock %} {% block body %} {% if is_granted('ROLE_ADMIN') %}



<h1>Bienvenue sur le panneau d'administrateur {{ app.user }}</h1>
<div class="flex gap">
    {% include "admin/_menu_admin.html.twig" %}
    <div id="container-admin">

        <h3>Dashboard</h3>
        <div class="flex wrap gap">
            <div class="card-admin-first">
                <i class="fa-solid fa-pen-to-square"></i>
                <p>Modifier ou supprimer un évenement</p>
                <a href="{{ path('app_evenement') }}">Voir les événements</a>
            </div>

            <div class="card-admin-first">
                <i class="fa-solid fa-plus"></i>
                <p>Ajouter un évenement, son image, sa description</p>
                <a href="{{ path('add_evenement') }}">Ajouter un événement</a>
            </div>

            <div class="card-admin-first">
                <i class="fa-solid fa-pen-to-square"></i>
                <p>Vérifier et valider les commentairs des utilisateurs </p>
                <a href="{{ path('admin_avis') }}">Espace commentaire</a>
            </div>
        </div>

        {% include "admin/_slides.html.twig" %}


        {# {% include "admin/_annonces_inactifs.html.twig" %} #} {% include
        "admin/_annonces_actif.html.twig" %}
    </div>
</div>


{% else %}

<p>Vous n'avez pas les droits pour accèder à cette page.</p>

{% endif %} {% endblock %}