{% extends 'base.html.twig' %} {% block title %}World of Pets - Accueil{% endblock %}
{% block body %}



{% include "layout/_slider.html.twig" %}
<div class="form_search">
  {{ form_start(form) }}
  <div id="search_produit">
    <!-- Champ "mots" -->
    <div>
      {{ form_label(form.mots) }}
      {{ form_widget(form.mots) }}
      {{ form_errors(form.mots) }}
    </div>

    <!-- Champ "categorie" -->
    <div>
      {{ form_widget(form.categorie) }}
      {{ form_errors(form.categorie) }}
    </div>

    <!-- Champ "Rechercher" -->
    <div>
      {{ form_widget(form.Rechercher) }}
    </div>
  </div>

  {{ form_end(form) }}
</div>


{# Zone pour afficher les résultats de la recherche #}
<div id="search-results">
  {% if form.vars.submitted %}
  {% include "home/_search_articles.html.twig" %}
  {% endif %}
</div>
{#Derniers articles#}
{% include "home/_last_articles.html.twig" %}
{#Derniers evenements#}
{% include "home/_last_evenements.html.twig" %}
{#Tous les articles#}
<div id="article-container">
  {% include "home/_all_articles.html.twig" %}
</div>

{% endblock %}