{% extends 'base.html.twig' %}

{% block title %}Profil : {{ app.user }}{% endblock %}

{% block body %}



{% if app.user %}

<h1>Bienvenue {{ app.user }}</h1>

<h2>Mon profil</h2>
<p>Pseudo : {{ app.user }} </p>
<p>Email : {{ app.user.email}}</p>
<p>Annonce en cours : {{ app.user.produits | length }}</p>

<h2>Mes annonces</h2>


<table>
    <thead>
        <tr class="title-table">
            <th>Photos</th>
            <th>Titre</th>
            <th>Date</th>
            <th>Description</th>
            <th>Prix</th>
            <th>Categorie</th>
            <th>Editer</th>
            <th>Supprimer</th>
            
        </tr>
    </thead>
    <tbody>
        {% for produit in app.user.produits %}
        <tr>
            <td>
                {% if produit.images is not empty %}
                <!--récupérer la 1er image uniquement -->
                {% set image = produit.images.first() %}
                <img src="{{ asset('uploads/images/' ~ image.nomImage) }}" height="auto" width="200px"
                    alt="Image de {{ image.nomImage }}">


                {% else %}
                <img src="{{ asset('uploads/images/defaut.jpg') }}" height="auto" width="200px" alt="Mon image">
                {% endif %}
            </td>
            <td>{{ produit.nomProduit }}</td>
            <td>{{ produit.dateCreationProduit | date("d/m/Ygit s") }}</td>
            <td>{{ produit.description|length > 100 ? produit.description|slice(0, 150) ~ '...' : produit.description }}</td>
            <td>{{ produit.prix }} €</td>
            <td>{{ produit.categorie }}</td>
            <td><a href="{{path('edit_produit', {'id': produit.id })}}">editer</a></td>
            <td><a href="{{path('delete_produit', {'id': produit.id })}}">supprimer</a></td>




        </tr>
        {% endfor %}




    </tbody>
</table>


{% else %}

<p>Vous devez vous connectez pour avoir accès à cette page</p>

{% endif %}




{% endblock %}