{% extends 'base.html.twig' %}

{% block title %}Résultats de la recherche{% endblock %}

{% block body %}
<h2>Résultat de votre recherche</h2>


{% if produits is not empty %}

<ul class="flex wrap">
    
        
    {% for produit in produits %}
    <li>
        {% if produit.images is not empty %}
        <!--récupérer la 1er image uniquement -->
        {% set image = produit.images.first() %}
            <img src="{{ asset('uploads/images/' ~ image.nomImage) }}" height="400" width="300px" alt="Image de {{ image.nomImage }}">
        

        {% else %}
            <img src="{{ asset('uploads/images/defaut.jpg') }}" height="400px" width="300px" alt="Mon image">
        {% endif %}
        <p>{{ produit.nomProduit }}</p>
        <p>{{ produit.prix }}€</p>
        <div>
            <a href="{{ path('show_produit',{'id':produit.id})}}">Go</a>
        </div>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>Aucun résultat correspondant à votre recherche.</p>
 {% endif %}
{% endblock %}