<div>
    <h2>Mes notifications</h2>

    <div class="relative">
        <div class="tabs">
            <div class="tab" id="tab-commandes">Commandes</div>
            <div class="tab" id="tab-notifs">Offres</div>
        </div>

        <div class="notifications">
            <div class="tab-content" id="content-commandes">
                <!-- Contenu des commandes -->
                {% if commandeAcheteur is not empty %}
                {% for commande in commandes %}
                {% if app.user == commande.produit.user and commande.produit.isSelling == true %}
                <p class="notification notif-vente">{{ commande.message }}</p>
                {% endif %}

                {% if app.user == commande.commander %}
                <p class="notification notif-vente">{{ commande.messageSent }}</p>
                {% endif %}

                {% endfor %}
                {% else %}
                <p>Aucune notification.</p>
                {% endif %}
            </div>
            <div class="tab-content" id="content-notifs">
                <!-- Contenu des notifications/offres -->
                {% if notifs is not empty %}
                {% for notif in notifs %}
                {% set bold = notif.isRead ? '' : 'bold' %}
                {% if app.user == notif.offre.produits.user %}
                <p class="notification {{ bold }}" data-notification-id="{{ notif.id }}">{{ notif.messageDestinataire }}
                </p>
                {% set hasDisplayedNotifications = true %}
                {% endif %}

                {% if app.user == notif.offre.Users %}
                <p class="notification {{ bold }}" data-notification-id="{{ notif.id }}">{{ notif.message }}</p>
                {% set hasDisplayedNotifications = true %}
                {% endif %}

                {% endfor %}
                {% else %}
                <p>Aucune notification.</p>
                {% endif %}
            </div>
        </div>
    </div>

</div>