<div id="product-detail">
    <div class="info-product">
        <h2>{{produit}}</h2>
        <p>Categorie : <a href="{{path('show_categorie', {'slug': produit.categorie.slug })}}">{{
                produit.categorie.nomCategorie }}</a></p>
        <p>Etat : {{ produit.statut }}</p>
        <p>Vendeur : <a href="{{path('show_user', {'id': produit.user.id })}}">{{ produit.user.pseudo }}</a></p>
        <p>Avis vendeur : </p>
        <p>Description : {{ produit.description }}</p>
        <!-- <p class="stock">Stock : {{ produit.disponible }}</p> -->
        <p class="price">Prix : {{ produit.prix }} €</p>
        <ul class="flex wrap gap mh-2">
            <li>
                <a href="{{path('show_order', {'id': produit.id } )}}" class="btn">Acheter</a>
            </li>

            <li>
                <a href="{{ path('show_offre', {'vendorId': produit.user.id, 'productId': produit.id })}}"
                    class="btn">Faire une offre</a>
            </li>

            <li>
                <a href="{{path('send', {'vendorId': produit.user.id })}}" class="btn">Contacter le vendeur</a>
            </li>
        </ul>
    </div>
    <div>
        <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
            class="swiper mySwiper12 img-slide">
            <div class="swiper-wrapper">
                {% for image in produit.images %}
                <div class="swiper-slide image-container">
                    <a href="{{ asset('uploads/images/' ~ image.nomImage) }}" data-lightbox="{{ image.nomImage }}"
                        class="w-100" data-title="World of pets - {{ image.produit.nomProduit }}">
                        <img src="{{ asset('uploads/images/' ~ image.nomImage) }}" data-action="zoom"
                            alt="World of pets - {{ image.produit.nomProduit }}">
                    </a>
                </div>
                {% endfor %}
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
        <div thumbsSlider="" class="swiper2 mySwiper15 img-little-slide">
            <div class="swiper-wrapper">
                {% for image in produit.images %}
                <div class="swiper-slide">
                    <img src="{{ asset('uploads/images/' ~ image.nomImage) }}" data-action="zoom"
                        alt="Image de {{ image.nomImage }}">
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".mySwiper15", {
        spaceBetween: 10,
        slidesPerView: 4,
        freeMode: true,
        watchSlidesProgress: true,
    });
    var swiper12 = new Swiper(".mySwiper12", {
        spaceBetween: 10,
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        thumbs: {
            swiper: swiper,
        },
    });
</script>

<script src="{{asset('js/zoom.js')}}"></script>