{% extends 'base.html.twig' %}

{% block title %}Ajouter votre article{% endblock %}

{% block body %}
    {% if edit %}
        <h1>Modifier l'annonce</h1>
        {% else %}
        <h1>Ajouter produit</h1>
    {% endif %}
    



{% if app.user %}
            
    
    {{ form_start(formAddProduit) }}
        {% if edit %}
            <h2>Images</h2>
            {% for image in produits.images %}
                <div>
                    <img src="{{ asset('uploads/images/' ~ image.nomImage) }}" height="auto" width="300px" alt="Image de {{ image.nomImage }}">
                    <a href="{{path('delete_image', {'id': image.id })}}" data-delete data-token="{{csrf_token('delete' ~ image.id)}}" >Supprimer</a>
                </div>
            {% endfor %}
        {% endif %}
        {{ form_row(formAddProduit.images) }}
        {{ form_row(formAddProduit.nomProduit) }}
        {{ form_row(formAddProduit.description) }}
        {{ form_row(formAddProduit.disponible) }}
        {{ form_row(formAddProduit.categorie) }}
        {{ form_row(formAddProduit.prix) }}
    {{ form_end(formAddProduit) }}

    {% if app.flashes('error') is not empty %}
    <div class="alert alert-danger">
        {% for message in app.flashes('error') %}
            {{ message }}
        {% endfor %}
    </div>
{% endif %}

{% else %}

    <p>Vous devez vous connectez pour pouvoir vendre un produit.</p>

{% endif %}




{% endblock %}