{% extends 'base.html.twig' %}

{% block title %}Ajouter votre article{% endblock %}

{% block body %}

    <h1>Ajouter produit</h1>



{% if app.user %}
            
    
    {{ form_start(formAddProduit) }}
        {{ form_row(formAddProduit.imageFile) }}
        {{ form_row(formAddProduit.nomProduit) }}
        {{ form_row(formAddProduit.description) }}
        {{ form_row(formAddProduit.disponible) }}
        {{ form_row(formAddProduit.categorie) }}
        {{ form_row(formAddProduit.prix) }}
    {{ form_end(formAddProduit) }}

    {% if app.flashes('error') is not empty %}
    <div class="alert alert-danger">
        {% for message in app.flashes('error') %}
            {{ message }}
        {% endfor %}
    </div>
{% endif %}

{% else %}

    <p>Vous devez vous connectez pour pouvoir vendre un produit.</p>

{% endif %}




{% endblock %}