{% extends 'base.html.twig' %}

{% block title %}Votre commande{% endblock %}

{% block body %}
{% if app.user %}
<h1>Votre commande: {{ produit.nomProduit}}</h1>
<div class="flex wrap justify-center gap">
    <div class="grow-05">
        <div class="order-style m-w-800">
            <p class="italic-grey">Commande </p>
            <div class="flex justify-center items-center gap">

                <figure>
                    {% set image = produit.images.first() %}
                    <img class="radius-4" src="{{ asset('uploads/images/' ~ image.nomImage) }}" height="100px"
                        width="100px" alt="Image de {{ image.nomImage }}">
                </figure>

                <p>{{ produit.nomProduit }} <br> <span class="italic-grey">{{ produit.statut }}</span></p>
                <p class="grow text-right">{{ produit.prix }}€</p>

                {% for offre in produit.offres %}
                {% if produit.prixOffre and offre.Users == app.user %}
                <p><i class="fa-solid fa-arrow-right fa-lg"></i> {{ produit.prixOffre}}€</p>
                {% endif %}
                {% endfor %}

            </div>

        </div>

        <div class="order-style m-w-800">
            <p class="italic-grey">Livraison </p>
            <p>Frais de livraison : 10€</p>
        </div>

        <div class="order-style m-w-800">
            <p class="italic-grey">Adresse </p>
            {{ form_start(formCommande) }}
            {{ form_widget(formCommande) }}

            {{ form_end(formCommande) }}
        </div>

    </div>
    <div>
        <div class="order-style min-w-280">
            <p class="italic-grey">Résumé de la commande </p>
            <div class="flex justify-between items-center ">
                <p>Commande:</p>
                {% set foundOffer = false %}
                {% if produit.prixOffre and produit.offres|length > 0 %}
                {% for offre in produit.offres %}
                {% if offre.Users == app.user %}
                <p>{{ produit.prixOffre }}€</p>
                {% set foundOffer = true %}
                {% endif %}
                {% endfor %}
                {% endif %}
                {% if not foundOffer %}
                <p>{{ produit.prix }}€</p>
                {% endif %}

            </div>

            <div class="flex justify-between items-center ">
                <p>Frais de port:</p>
                <p>10€</p>
            </div>

            <div class="flex justify-between items-center ">
                <p>Total:</p>
                {% set foundOffer = false %}
                {% if produit.prixOffre and produit.offres|length > 0 %}
                {% for offre in produit.offres %}
                {% if offre.Users == app.user %}
                <p>{{ produit.prixOffre + 10 }}€</p>
                {% set foundOffer = true %}
                {% endif %}
                {% endfor %}
                {% endif %}
                {% if not foundOffer %}
                <p>{{ produit.prix + 10 }}€</p>
                {% endif %}
            </div>
        </div>
    </div>

</div>
{% else %}
<h1>Votre commande</h1>
<div class="flex justify-center connexion-page">
    <div>
        <p>Vous souhaitez faire un achat? Veuiller vous <a href="{{path('app_login')}}">connecter</a> ou vous <a
                href="{{path('app_register')}}">inscrire</a> si vous n'avez
            pas encore de compte.</p>
    </div>
</div>
{% endif %}

{% endblock %}