{% extends 'base.html.twig' %}

{% block title %}Produit : {{ produit }}{% endblock %}

{% block body %}

{% include "produit/_detail_produit.html.twig" %}

{% include "produit/_avis_client.html.twig" %}

<h2>Articles qui pourrait vous interessé</h2>

<ul>
    {% for produitCategorie in produit.categorie.produits %}
    <li>
        <a href="{{ path('show_produit',{'id':produitCategorie.id})}}">
            <figure>
                {% set image = produitCategorie.images.first() %}
                <img src="{{ asset('uploads/images/' ~ image.nomImage) }}" height="200" width="200px" alt="Image de {{ image.nomImage }}">
                <figcaption>
                    <p>{{ produitCategorie.nomProduit }}</p>
                    <p>{{ produitCategorie.prix }} €</p>
                </figcaption>
            </figure>
        </a>
    </li>
    {% endfor %}
   
</ul>


{% endblock %}