{% extends 'base.html.twig' %}

{% block title %}Formulaire de contact{% endblock %}

{% block body %}


<div class="show-contact height-form-offre">
    {% if is_granted('ROLE_ADMIN') %}

    <h1>Message de {{ contact.nom}}</h1>

    <div>
        <p>De: {{ contact.nom}}</p>
        <p>Email: {{ contact.email}}</p>
        <p>Sujet: {{ contact.sujet}}</p>
        <p>Message: {{ contact.message }}</p>
    </div>
    <div class="mh-2">
        <a href="mailto:{{contact.email}}" class="btn">Répondre par mail</a>
    </div>
    {% else %}
    <p>Vous n'êtes pas autorisé à acceder au contenu de cette page.</p>
    {% endif %}
</div>
{% endblock %}