{% extends 'base.html.twig' %}

{% block title %}World of Pets - produits {{ categorie }}{% endblock %}

{% block body %}

<h1>Liste des produits pour {{ categorie }}</h1>




<ul style="display: flex;">
    {% set all_products_false = true %} {# verifier l'état de tous les produits #}
    {% for produit in produits %}
         {# verifier l'état avant de mettre en ligne #}
         {% if produit.etat == true %}
         {% set all_products_false = false %}
    <li>
        {% if produit.images is not empty %}
            <!--récupérer la 1er image uniquement -->
            {% set image = produit.images.first() %}
            <img src="{{ asset('uploads/images/' ~ image.nomImage) }}" height="300" width="300px" alt="Image de {{ image.nomImage }}">
            

        {% else %}
        <img src="{{ asset('uploads/images/defaut.jpg') }}" height="300px" width="300px" alt="Mon image">
        {% endif %}
        <p>{{ produit.nomProduit }}</p>
        <p>{{ produit.prix }}€</p>
        <div><a href="">Acheter</a></div>
    </li>
    {% endif %}
    
    {% endfor %}
</ul>

{% if all_products_false  %}
    
<p>Aucune annonce pour cette catégorie.</p>

{% endif %}
 
{% endblock %}
